<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtreemadvert.xtreemads">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/xtreem_advert2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".AdvertFeedsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".UploadDetail" />
        <activity android:name=".DebulgActivity"></activity>
    </application>

</manifest>